################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SeleniumCSharpNetCore/bin/Debug/netcoreapp3.1
/SeleniumCSharpNetCore/obj/Debug/netcoreapp3.1
